<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<solution>
		<add key="disableSourceControlIntegration" value="true" />
	</solution>
	<packageSources>
		<add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
		<add key="ITDS" value="https://elkjoplabs.pkgs.visualstudio.com/_packaging/ITDS/nuget/v3/index.json" />
	</packageSources>
</configuration>